<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <h1>Hola {{name}}, bienvenido al juego del ahorcado</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <div class="human">
        <div class="part part-0" *ngIf="partsHuman[0]">
          <img src="assets/ahorcado/0.png" alt="">
        </div>
        <div class="part part-1" *ngIf="partsHuman[1]">
            <img src="assets/ahorcado/1.png" alt="">
        </div>
        <div class="part part-2" *ngIf="partsHuman[2]">
            <img src="assets/ahorcado/2.png" alt="">
        </div>
        <div class="part part-3" *ngIf="partsHuman[3]">
            <img src="assets/ahorcado/3.png" alt="">
        </div>
        <div class="part part-4" *ngIf="partsHuman[4]">
            <img src="assets/ahorcado/4.png" alt="">
        </div>
        <div class="part part-5" *ngIf="partsHuman[5]">
            <img src="assets/ahorcado/5.png" alt="">
        </div>
        <div class="part part-6" *ngIf="partsHuman[6]">
            <img src="assets/ahorcado/6.png" alt="">
        </div>
        <div class="part part-7" *ngIf="partsHuman[7]">
            <img src="assets/ahorcado/7.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-8">
      <div class="row justify-content-center">
        <div>
          <div class="timer">{{time}}</div>
          <ul class="letters">
            <li *ngFor="let letter of wordsNoFill">
                <strong>{{ letter }}</strong>
            </li>
          </ul>
          <br><br>
          <form class="tryLetter" [formGroup]="tryLetterGroup" (ngSubmit)="tryLetter()">
              <div class="form-group">
                  <input type="text" class="form-control" autocomplete="off" formControlName="letter" id="iLetter">
              </div>
              <button class="btn btn-success" type="submit">Enviar</button>
              <button class="btn btn-danger" (click)="resetGame()">Reiniciar el juego</button>
              <button class="btn btn-info" (click)="logout()">Salir</button>
          </form>

          <div class="a-letters">
            <span>LETRAS ERRONEAS</span>
            <ul>
                <li *ngFor="let aLetter of lettersAlreadySaid">
                    <strong>{{ aLetter }}</strong>
                </li>
            </ul>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>