<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-xs-12 col-md-6">
      <div class="card">
        <div class="card-header text-white bg-primary">
          Juego del ahorcado
        </div>
        <div class="card-body">
          <h4 class="card-title">Dinos quien eres</h4>
          <form  [formGroup]="signInForm" (ngSubmit)="signIn()">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" placeholder="Escribe tu nombre" required formControlName="name">
            </div>
            <div class="form-group">
              <label for="email">E-Mail</label>
              <input type="email" class="form-control" id="email" placeholder="Escribe tu E-Mail" required formControlName="email">
            </div>
            <p *ngIf="incompleteData">
              <ngb-alert [dismissible]="true" type="danger">
                Datos incompletos
              </ngb-alert>
            </p>
            <button type="submit" class="btn btn-primary">Empezar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .container > .row{
    height: 100vh;
  }
</style>