/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

 .human{
    position: relative;
    margin-top: 30px;
  }

  .human .part{
    position: absolute;
    left: 0;
    top: 0;
  }

  .human .part.part-0{
    margin: 50px 0 0 170px; 
  }
  
  .human .part.part-1{
    margin: 152px 0 0 220px; 
  }

  .human .part.part-2{
    margin: 330px 0 0 160px; 
  }

  .human .part.part-3{
    margin: 330px 0 0 220px; 
  }

  .human .part.part-4{
    margin: 200px 0 0 157px; 
  }

  .human .part.part-5{
    margin: 0 0 0 0; 
  }

  .human .part.part-6{
    margin: -11px 0 0 0; 
  }

  .human .part.part-7{
    margin: 0 0 0 220px; 
  }

  .timer{
    font-size: 3rem;
    text-align: center;
  }

  #iLetter{
    text-transform: uppercase;
  }

  .letters{
    margin-top: 30px;
    list-style: none;
    padding: 0;
  }

  .letters li{
    float: left;
    width: 40px;
    border-bottom: 2px solid #CACACA;
    margin-left: 8px;
    text-align: center;
  }

  .a-letters{
    color: red;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .a-letters ul{
    list-style: none;
    padding: 0;
    margin-top: -10px;
  }

  .a-letters ul li{
    float: left;
    margin-left: 5px;
  }

  .tryLetter{
    width: 150px;
    margin: auto;
  }

  .tryLetter input{
    font-size: 3rem;
    text-align: center;
  }

  .tryLetter button{
    width: 100%;
    margin-bottom: 10px;
  }